<link href="../../../../content/css/infocard.css" rel="stylesheet" />

<form name="myForm">
    <div class="container">

        <div class="row setup-content" id="tstep-1">
            <div class="col-xs-11 col-sm-11 col-md-10 col-lg-10" style="margin: 15px">
                <div>

                    <div class="alert alert-info text-center" role="alert">..If you are also a tenant, you can later link your tenant profile with this account.</div>
                    <hr />


                    <div class="form-horizontal">


                        <div class="form-group" show-errors>
                            <div class="col-md-2 control-label">
                                Initial
                            </div>

                            <div class="col-md-10">
                                <input name="initial" ng-required="true" ng-model="vm.newPerson.initial" class="form-control" />
                            </div>
                        </div>

                        <div class="form-group" show-errors>
                            <div class="col-md-2 control-label">
                                First Name
                            </div>
                            <div class="col-md-10">
                                <input name="firstName" ng-required="true" ng-model="vm.newPerson.firstName" class="form-control" />
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-2 control-label">
                                Middle Name
                            </div>

                            <div class="col-md-10">
                                <input ng-model="vm.newPerson.middleName" class="form-control" />
                            </div>
                        </div>

                        <div class="form-group" show-errors>
                            <div class="col-md-2 control-label">
                                Last Name
                            </div>

                            <div class="col-md-10">
                                <input name="lastName" ng-required="true" ng-model="vm.newPerson.lastName" class="form-control" />
                            </div>
                        </div>

                        <div class="form-group" show-errors>
                            <div class="col-md-2 control-label">
                                Date Of Birth
                            </div>
                            <div class="col-md-10">
                                <input name="dateOfBirth" ng-required="true" jqdatepicker class="form-control" ng-model="vm.newPerson.dateOfBirth" />
                            </div>
                        </div>


                        <div class="form-group" show-errors>
                            <div class="col-md-2 control-label">
                                Place Of Birth
                            </div>
                            <div class="col-md-10">
                                <input name="placeOfBirth" ng-required="true" ng-model="vm.newPerson.placeOfBirth" class="form-control" />
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-md-2 control-label">
                                Identification Mark
                            </div>

                            <div class="col-md-10">
                                <input ng-model="vm.newPerson.identificationMark" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-2 control-label">
                                PAN Card Number
                            </div>

                            <div class="col-md-10">
                                <input ng-model="vm.newPerson.pan" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-2 control-label">
                                Adhaar Card Number
                            </div>

                            <div class="col-md-10">
                                <input ng-model="vm.newPerson.adhaarCard" class="form-control" />
                            </div>
                        </div>





                        <div class="form-group" ng-repeat="attr in vm.newPerson.personAttributes">
                            <div class="col-md-2 control-label">
                                {{attr.roleAttribute.description}}
                            </div>


                            <div class="col-md-10" ng-show="attr.roleAttribute.valueType=='string'">
                                <input ng-model="attr.stringValue" class="form-control" />
                            </div>
                            <div class="col-md-10" ng-show="attr.roleAttribute.valueType=='int'">
                                <input ng-model="attr.intValue" class="form-control" />
                            </div>
                            <div class="col-md-10" ng-show="attr.roleAttribute.valueType=='float'">
                                <input ng-model="attr.floatValue" class="form-control" />
                            </div>
                            <div class="col-md-10" ng-show="attr.roleAttribute.valueType=='date'">
                                <input jqdatepicker class="form-control" ng-model="attr.dateValue" />
                            </div>

                        </div>




                        <button class="btn btn-primary btn-sm pull-right" ng-disabled="myForm.$invalid" ng-click="vm.searchAndSave()" ng-hide="registrationSuccess">Save</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</form>