<div class="container">
    <form class="form-horizontal">
    <div class="row setup-content" id="tstep-2">
        <div class="col-xs-11 col-sm-11 col-md-10 col-lg-10" style="margin: 15px">
            <div class="col-md-12">

                <div class="alert alert-info text-center" role="alert">
                    Please let us know who were your tenants previously living in properties that you own. This is required for verification purpose.
                </div>
                <hr />

                <div ng-repeat="oc in newPerson.addressOwnerships" class="table-bordered" style="padding: 5px; margin-bottom: 10px; background-color: whitesmoke">
                   

                    <div class="h4" style="margin: 10px; text-align: center;">
                        <span>Who is your tenant at following address OR who was your last tenant at this address?</span><br />
                        <div class="h5">
                            <b>
                                <span>{{oc.address.addressLine1}}</span>&nbsp;
                                <span>{{oc.address.addressLine2}}</span>&nbsp;
                                <span>{{oc.address.addressLine3}}</span>&nbsp;
                                <span>{{oc.address.City}}</span>&nbsp;
                                <span>{{oc.address.State}}</span>&nbsp;
                                <span>{{oc.address.PostCode}}</span>

                            </b>
                        </div>
                    </div>
                    <hr />





                    <div class="form-group">
                        <div class="col-md-2 control-label">
                            Initial
                        </div>

                        <div class="col-md-10">
                            <input ng-model="oc.previousTenant.initial" class="form-control"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-2 control-label">
                            First Name
                        </div>
                        <div class="col-md-10">
                            <input ng-model="oc.previousTenant.firstName" class="form-control"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-2 control-label">
                            Middle Name
                        </div>

                        <div class="col-md-10">
                            <input ng-model="oc.previousTenant.middleName" class="form-control"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-2 control-label">
                            Last Name
                        </div>

                        <div class="col-md-10">
                            <input ng-model="oc.previousTenant.lastName" class="form-control"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-2 control-label">Occupied From</div>
                        <div class="col-md-10">
                            <input jqdatepicker class="form-control" ng-model="oc.previousTenant.addressOccupations[0].occupiedFrom" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2 control-label">Occupied To</div>
                        <div class="col-md-10">
                            <input jqdatepicker class="form-control" ng-model="oc.previousTenant.addressOccupations[0].occupiedTo" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-2 control-label">
                            Rent Paid
                        </div>

                        <div class="col-md-10">
                            <input ng-model="oc.rent" class="form-control"/>
                        </div>
                    </div>

                </div>

                <div class="alert alert-danger text-center" role="alert" ng-show="registrationError!=''">
                    {{registrationError}}
                </div>

                <hr />

                <div class="row form-group">
                    <button class="btn btn-primary btn-md pull-right row" ng-click="savePreviousTenants()" style="margin: 15px">Save</button>
                </div>

            </div>
        </div>
    </div>
        </form>
</div>