
<div class="container">

    <div class="page-header text-center">
        <h1>What you want to do today?</h1>
    </div>

    <div>

        <ul class="nav nav-pills  nav-stacked">
            <li><a href="#/lprofile"><i class="fa fa-user"></i> My Profile</a></li>
            <li><a href="#/reportnewtenant"><i class="fa fa-suitcase"></i> New Tenant Moved in? Report here.</a></li>
            <li><a href="#/addnewaddress"><i class="fa fa-home"></i> Bought a new house? Add them to your owned addresses.</a></li>
            <li><a href="#/lmyreviews"><i class="fa fa-comment"></i> Reviews done by me</a></li>
            <li><a href="#/ratetenant"><i class="fa fa-pencil"></i>  Write a new review / rate a tenant</a></li>
            <li><a href="#/lmyratings"><i class="fa fa-comments"></i>  What my tenants think about me</a></li>
            <li><a href="#/lsearch"><i class="fa fa-check"></i> Tenant Check (know about them before its too late)</a></li>
            <li><a href="#/tenanthistory"><i class="fa fa-history"></i> Address history of your new or existing tenants</a></li>
            <li><a href="#/lpoliceverification/police"><i class="fa fa-archive"></i>  Request a police verification</a></li>
            <li><a href="#/lpoliceverification/civilcredit"><i class="fa fa-credit-card"></i> Request a credit check & civil history</a></li>
        </ul>

    </div>
</div>