
<div class="container">

    <div class="page-header text-center">
        <h1>What you want to do today?</h1>
    </div>

    <div>

        <ul class="nav nav-pills  nav-stacked">
            <li><a href="#/lprofile">My Profile</a></li>
            <li><a href="#/reportnewtenant">New Tenant Moved in? Report here.</a></li>
            <li><a href="#/myreviews">Reviews done by me</a></li>
            <li><a href="#/ratetenant">Write a new review / rate a tenant</a></li>
            <li><a href="#/myratings">What my tenants think about me</a></li>
            <li><a href="#/lsearch">Tenant Check (know about them before its too late)</a></li>
            <li><a href="#/tenanthistory">Address history of your new or existing tenants</a></li>
            <li><a href="#/lpoliceverification">Request a police verification</a></li>
            <li><a href="#/creditcheck">Request a credit check & civil history</a></li>
        </ul>

    </div>
</div>