
<div class="container">

    <div class="page-header text-center">
        <h1>What you want to do today?</h1>
    </div>

    <div>

        <ul class="nav nav-pills  nav-stacked">
            <li><a href="#/tprofile">My Profile</a></li>
            <li><a href="#/reportmove">Moved address? Keep your profile up to date.</a></li>
            <li><a href="#/myreviews">Reviews done by me</a></li>
            <li><a href="#/ratelandlord">Write a new review / rate my previous landlord or address</a></li>
            <li><a href="#/myratings">What my previous landlords think about me</a></li>
            <li><a href="#/tsearch">Address Check (know about your new address before you move in)</a></li>
            <li><a href="#/landlordhistory">Know about your new landlord</a></li>
            <li><a href="#/tpoliceverification">Request your own police verification</a></li>
            <li><a href="#/tscore">Check your own rating.</a></li>
        </ul>

    </div>
</div>