<div class="jumbotron">
    <div class="container">
        <div class="page-header text-center">
            <h1>Rated Tenants</h1>
        </div>
        <p class="text-center">
            <em>
                Rated Tenants is an effort to keep your property and our society absolutely safe.
                <br /><b>Landlords - </b>
                verify your next tenant whenever you rent out, then rate and review your tenants on the basis of their behaviour, ability to keep your property in good state, timeliness of rents etc.
                <br /><b>Tenants -</b> register and ask their landlords to review themselves. Everyone wants good tenants and your good rating can bring you benefits!
                <br />Let goodness prosper.. Let ugliness suffer!
            </em>
        </p>
    </div>
</div>



<div id="category" class="row text-center">
    <div class="img-rounded table-bordered col-sm-12 col-md-5" style="margin:25px; padding:25px">
        <div class="text-center">
            <img src="/Content/images/landlord.png" alt="tenants" >
        </div>

        <a class="btn btn-md btn-renren" style="margin:15px" href="#/lsignup">
            Register as a landlord
        </a>

    </div>
    <div class="img-rounded table-bordered col-sm-12 col-md-5" style="margin:25px; padding:25px">
        <div class="text-center">
            <img src="/Content//images/tenant.png" alt="tenants" >
        </div>

        <a class="btn btn-md btn-renren" style="margin:15px" href="#/tsignup">
            Register as a tenant
        </a>
    </div>
   
</div>







<!--<form class="form-login" role="form">
    <h2 class="form-login-heading">Sign up</h2>
    <input type="text" class="form-control" placeholder="Username" data-ng-model="registration.userName" required autofocus>
    <input type="password" class="form-control" placeholder="Password" data-ng-model="registration.password" required>
    <input type="password" class="form-control" placeholder="Confirm Password" data-ng-model="registration.confirmPassword" required>
    <button class="btn btn-lg btn-info btn-block" type="submit" data-ng-click="signUp()">Submit</button>
    <div data-ng-hide="message == ''" data-ng-class="(savedSuccessfully) ? 'alert alert-success' : 'alert alert-danger'">
        {{message}}
    </div>
</form>-->