{{role="Tenant";""}}


<div class="jumbotron">
    <div class="container">
        <div class="page-header text-center">
            <h1>Rated Tenants</h1>
        </div>
        <p class="text-center">
            <em>
                Rated Tenants is an effort to keep your property and our society absolutely safe.
                <br /><b>Landlords - </b>
                verify your next tenant whenever you rent out, then rate and review your tenants on the basis of their behaviour, ability to keep your property in good state, timeliness of rents etc.
                <br /><b>Tenants -</b> register and ask their landlords to review themselves. Everyone wants good tenants and your good rating can bring you benefits!
                <br />Let goodness prosper.. Let ugliness suffer!
            </em>
        </p>
    </div>
</div>

<div id="category" class="row text-center">
    <div>
        <div>
            <img src="/Content/images/tenant.png" alt="tenants" style="height: 150px; width: 150px">
        </div>
    </div>
    <div class="table-bordered" style="margin:10px;">

        <form class="form-login" role="form">
            <h2 class="form-login-heading">Sign up as a tenant</h2>
            <input type="text" class="form-control" placeholder="Username" data-ng-model="registration.userName" required autofocus>
            <input type="password" class="form-control" placeholder="Password" data-ng-model="registration.password" required>
            <input type="password" class="form-control" placeholder="Confirm Password" data-ng-model="registration.confirmPassword" required>
            <button class="btn btn-lg btn-info btn-block" type="submit" data-ng-click="signUp()">Submit</button>
            <div data-ng-hide="message == ''" data-ng-class="(savedSuccessfully) ? 'alert alert-success' : 'alert alert-danger'">
                {{message}}
            </div>
        </form>

    </div>

</div>





