<form name="myForm">
<div class="form-group">
    <div class="col-md-2 control-label">
        Initial
    </div>

    <div class="col-md-10">
        <input ng-model="vm.person.initial" class="form-control" ng-required="true"/>
    </div>
</div>

<div class="form-group">
    <div class="col-md-2 control-label">
        First Name
    </div>
    <div class="col-md-10">
        <input ng-model="vm.person.firstName" class="form-control" ng-required="true"/>
    </div>
</div>

<div class="form-group">
    <div class="col-md-2 control-label">
        Middle Name
    </div>

    <div class="col-md-10">
        <input ng-model="vm.person.middleName" class="form-control"/>
    </div>
</div>

<div class="form-group">
    <div class="col-md-2 control-label">
        Last Name
    </div>

    <div class="col-md-10">
        <input ng-model="vm.person.lastName" class="form-control"/>
    </div>
</div>

<div class="form-group">
    <div class="col-md-2 control-label">
        Date Of Birth
    </div>
    <div class="col-md-10">
        <input jqdatepicker class="form-control" ng-model="vm.person.dateOfBirth"/>
    </div>
</div>


<div class="form-group">
    <div class="col-md-2 control-label">
        Place Of Birth
    </div>
    <div class="col-md-10">
        <input ng-model="vm.person.placeOfBirth" class="form-control"/>
    </div>
</div>


<div class="form-group">
    <div class="col-md-2 control-label">
        Identification Mark
    </div>

    <div class="col-md-10">
        <input ng-model="vm.person.identificationMark" class="form-control"/>
    </div>
</div>
<div class="form-group">
    <div class="col-md-2 control-label">
        PAN Card Number
    </div>

    <div class="col-md-10">
        <input ng-model="vm.person.pan" class="form-control"/>
    </div>
</div>
<div class="form-group">
    <div class="col-md-2 control-label">
        Adhaar Card Number
    </div>

    <div class="col-md-10">
        <input ng-model="vm.person.adhaarCard" class="form-control"/>
    </div>
</div>





<div class="form-group" ng-repeat="attr in vm.person.personAttributes">
    <div class="col-md-2 control-label">
        {{attr.roleAttribute.description}}
    </div>


    <div class="col-md-10" ng-show="attr.roleAttribute.valueType=='string'">
        <input ng-model="attr.stringValue" class="form-control"/>
    </div>
    <div class="col-md-10" ng-show="attr.roleAttribute.valueType=='int'">
        <input ng-model="attr.intValue" class="form-control"/>
    </div>
    <div class="col-md-10" ng-show="attr.roleAttribute.valueType=='float'">
        <input ng-model="attr.floatValue" class="form-control"/>
    </div>
    <div class="col-md-10" ng-show="attr.roleAttribute.valueType=='date'">
        <input jqdatepicker class="form-control" ng-model="attr.dateValue"/>
    </div>

</div>

</form>